@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

body {
    font-family: Helvetica Neue !important;
}


/* Menu Start */

.brand_image {
    width: 40%;
}

.navbar {
    box-shadow: 0px 2px 13px rgb(0 0 0 / 32%);
    z-index: 1;
}

.nav-item,
.nav-item a {
    font-size: 16px;
    color: #0F1A4A !important;
}

.custom-select {
    margin-top: 6px;
}

.service_menu {
    border: none;
    background-color: transparent;
    width: 100%;
    margin-top: 7px;
}

.service_menu:focus {
    outline: 0;
}

.language_selection .custom-select-trigger {
    width: 125px !important;
}

.language_selection .custom-select-trigger::before {
    content: '\1F310';
    color: #0F1A4A;
    filter: grayscale(100%);
}

.language_selection .custom-select-trigger i {
    display: block !important;
}


/* Mobile menu */

.navbar-light .navbar-toggler {
    border: 0 !important;
}

.navbar-light .navbar-toggler:focus {
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon:focus {
    background-image: url(../images/cross.svg) !important;
}

.card_img {
    background: rgba(255, 99, 71, 0.1);
}

.content_holder_image {
    position: relative;
}

.slider_caption {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(0 0 0 / 70%), rgba(0, 0, 0, 0) 87.2%);
    color: #fff;
}

.slider_content {
    height: 100%;
    display: flex;
    align-items: center;
}

.slider_info h1 {
    font-weight: bold;
}

.slider_info p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
}

.main_button {
    background: #FF6347;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #ff6347 !important;
}


/* Service Area */

.service_head h4,
.service_child h5 {
    color: #0F1A4A;
}

.service_head p {
    color: #717171;
}

.service_child p {
    color: #333;
}

.services_mobile_view {
    margin: 0 auto !important;
}


/* App area start */

.app_area {
    background-color: #F7F7F7;
}

.app_download {
    display: flex;
    align-items: center;
}

.app_info h2,
.app_detail p {
    color: #1F2022 !important;
}

.app_info p {
    color: #333;
}


/* Blog Part Start */

.blog_area {
    background-color: #fff;
}

.blog_head {
    color: #0F1A4A;
}

.card_detail {
    background-color: #F7F7F7 !important;
}

.single_blog {
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
}

.blog_detail {
    width: 50%;
}

.single_blog img {
    width: 50%;
}

.blog_child h5 {
    color: #0F1A4A;
}

.blog_child p {
    color: #333;
}


/* Demo part start */

.demo_head {
    color: #0F1A4A;
}

.demo_card {
    border: none !important;
}

.demo_card_details i {
    border: none;
    background-color: #F7F7F7;
    color: #231F20;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 8px 7px;
}

.demo_card_details h5 {
    color: #1C1B24;
}

.demo_card_details p {
    color: #333;
}

.demo_view_more {
    background-color: transparent;
    border-bottom: 1px solid #c4c4c4;
    color: #333333;
    text-decoration: none;
}

.demo_view_more:hover {
    color: #FF6347;
    border-bottom: 1px solid #FF6347;
    transition: 0.2s;
}


/* newsletter start */

.newsletter_section {
    background-color: #F7F7F7;
    height: 300px;
    display: flex;
    align-items: center;
}

.subscribe_label {
    font-family: Helvetica Neue;
    font-weight: 500;
    font-style: normal;
    color: #0F1A4A;
}

.subscribe_input {
    padding: 10px 20px;
    width: 25%;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #FF6347;
}

.subscribe_input:focus {
    outline: 0;
}

.subscribe_input::placeholder {
    font-family: Helvetica Neue;
    font-size: 20px;
    line-height: 26px;
    color: #DFDFDF;
}

.search-container .subscribe_btn {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: 16px;
    background: #FF6347;
    opacity: 0.2;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container .subscribe_btn:hover {
    background-color: #FF6347;
    opacity: 1;
    transition: 0.4s;
}


/* footer start */

.office_info p,
.ft_menu p {
    font-size: 14px;
    line-height: 10px;
}

.footer_menu_list a {
    color: #fff;
    text-decoration: none;
}

.footer_menu_list a:hover {
    color: #ff6347;
    transition: 0.2s;
}

.ftc_btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: rgba(243, 243, 244, 0.15);
    margin: 15px 14px 0 0;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.ftc_btn i {
    margin: 9px;
    font-size: 12px;
    transition: 0.2s linear;
}

.ftc_btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.footer_app {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center_element {
    display: flex;
    justify-content: space-between;
}

.center_element p {
    margin-right: 30px;
}

.footer_language {
    margin-top: -1%;
}

.footer_language li {
    list-style: none;
}

.footer_part_border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer_list {
    list-style: none;
    text-align: right;
}

.footer_list li {
    display: inline;
    margin-left: 25px;
}


/* smooth scrolling */

html {
    scroll-behavior: smooth;
}